<div class="container contact">
  <h5>Sugestões</h5>
  <h6>Por favor, deixe suas sugestões aqui</h6>
  <hr />
  <div class="row">
    <div class="col s12">
      <div
        id="msg-login"
        class="card-panel white-text"
        [class.red]="!this.isSuccess"
        [class.blue]="this.isSuccess"
        *ngIf="this.isShowMessage"
      >
        {{ this.message }}
      </div>

      <form class="col s12" #form="ngForm" (submit)="onSubmit()">
        <div class="input-field col s12">
          <input
            id="input-name"
            name="input-name"
            type="text"
            class="validate"
            [(ngModel)]="this.suggestion.name"
            required
          />
          <label class="active" for="input-name">Nome *</label>
        </div>

        <div class="input-field col s12">
          <input
            id="input-message"
            name="input-message"
            type="text"
            class="validate"
            [(ngModel)]="this.suggestion.message"
            required
          />
          <label class="active" for="input-message">Mensagem *</label>
        </div>

        <button
          class="btn waves-effect waves-light teal"
          type="submit"
          [disabled]="!form.valid"
        >
          Enviar
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>

  <h5>Sugestões cadastradas</h5>
  <ul *ngFor="let s of suggestions">
    <li class="collection-item">
      <div>
        <h6><b>{{s.name}}</b></h6>
        {{s.message}}
      </div>
    </li>
  </ul>
</div>
