<nav>
  <div class="nav-wrapper my-bg-color">
    <a href="#!" class="brand-logo">rastreabitos</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="habit"><i class="material-icons">add</i></a></li>
      <li><a routerLink="">Início</a></li>
      <li><a routerLink="suggestion">Sugestões</a></li>
      <li><a routerLink="about">Sobre</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo" #mobile>
  <li><a routerLink="habit">Adicionar atividade</a></li>
  <li><a routerLink="">Início</a></li>
  <li><a routerLink="suggestion">Sugestões</a></li>
  <li><a routerLink="about">Sobre</a></li>
</ul>
