<div class="container contact">
  <h5>Hábitos</h5>
  <hr />
  <div class="row">
    <ul class="collection col s12 offset-m3 m6">
      <li class="collection-item">
        <span class="badge left">IDENTIFICADOR</span>{{ this.habit.id }}
      </li>
      <li class="collection-item">
        <span class="badge left">DESCRIÇÃO</span>{{ this.habit.description }}
      </li>
      <li class="collection-item">
        <span class="badge left">PERIODICIDADE</span>{{ this.habit.period }}
      </li>
      <li class="collection-item">
        <span class="badge left">CATEGORIA</span>{{ this.habit.category }}
      </li>
      <li class="collection-item">
        <span class="badge left">NOTIFICAÇÕES</span>{{ this.habit.isNotificationsEnabled }}
      </li>
    </ul>
  </div>
</div>
